/*
 * styles.css
 * Copyright (C) 2020 Vintage Salt
 *
 * Distributed under terms of the MIT license.
 */

/* GLOBALS */

:root {
	--background: #3c3341;
	--background-dark: #28232c;
	--link: #ba844d;
	--link-hover: #ffb940;
	--text: #ffe4b4;
}
html {
	background: var(--background-dark);
	overflow-y: scroll;
}
body {
	background: var(--background);
	color: var(--text);
	font: 12pt Inconsolata, sans-serif;
	margin: 4em auto;
	max-width: 40em;
	padding: 4em;
}

/* TYPES */
/* a */
a {
	color: var(--link);
	text-decoration: none;
	transition: .08s ease-in;
}
a:hover {
	color: var(--link-hover);
}
a.button {
	background: var(--background-dark);
	display: inline-block;
	padding: 1em;
}
code {
	background: rgba(0,0,0,0.2);
}
code:before {
	content: "[";
	opacity: 0.25;
}
code:after {
	content: "]";
	opacity: 0.25;
}
dl {
	list-style-type: none;
	margin: 0;
}
dl dt {
	font-weight: bold;
	margin: 1em 0 0 0;
}
dl dd {
	margin: 0;
}
h1 {
	font-size: 100%;;
	margin: 0;
}
h1:before {
	content: "=> ";
	opacity: 0.25;
}
h2 {
	font-size: 100%;
	margin: 0;
}
h2:before {
	content: "-- ";
	opacity: 0.25;
}
p {
	margin: 0 0 1em 0;
}
nav:before,nav:after {
	content: "--";
	opacity: 0.25;
}
nav ul {
	display: inline-block;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
nav ul li{
	display: inline-block;
	margin: 0;
	padding: 0;
}
nav ul li:before {
	content: "[";
	opacity: 0.25;
}
nav ul li:after {
	content: "]";
	opacity: 0.25;
}
.content ul {
	list-style-type: none;
	margin: 0;
	padding: 0 0 1em 1em;
}
.content ul li:before {
	content: "* ";
	opacity: 0.25;
}

/* CONTENT */
.header {
	margin: 0 0 1em 0;
	text-align: center;
}
.header img {
	border-radius: 50%;
	display: block;
	margin: 0 auto 1em auto;
	height: 6em;
	width: 6em;
}
.header pre {
	opacity: 0.25;
}
.header h1 {
	margin: 0 0 1em 0;
}
.content {
	background: var(--background);
}

/* MOBILE */
@media only screen and (max-width: 600px) {
	body {
		margin: 0;
		padding: 1em;
	}
	.nomobile {
		display: none;
	}
}
